/* mixins */

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local("OpenSans"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: local("OpenSansSemibold"), url("../fonts/OpenSansSemibold.woff2") format("woff2"), url("../fonts/OpenSansSemibold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: local("OpenSansBold"), url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold.woff") format("woff");
}

@font-face {
  font-family: "Playfair";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local("PlayfairDisplayRegular"), url("../fonts/PlayfairDisplayRegular.woff2") format("woff2"), url("../fonts/PlayfairDisplayRegular.woff") format("woff");
}

@font-face {
  font-family: "Playfair";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: local("PlayfairDisplayBold"), url("../fonts/PlayfairDisplayBold.woff2") format("woff2"), url("../fonts/PlayfairDisplayBold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"), url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: local("RobotoMedium"), url("../fonts/RobotoMedium.woff2") format("woff2"), url("../fonts/RobotoMedium.woff") format("woff");
}

/* container */

.container {
  margin: 0 auto;
  max-width: 95vw;
}

/* base */

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  scroll-behavior: smooth;
  color: #111111;
  background-color: #ffffff;
  overflow-x: hidden;
}

body.locked {
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  display: block;
}

.title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  padding: 5px;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  z-index: 5;
}

.header__menu {
  order: 1;
  margin: 0 30px;
}

.header__login {
  display: none;
}

.header--sticky {
  padding: 5px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.6);
  background-color: #111111;
}

.header--sticky > .container > .menu > .menu__body::before {
  height: 30px;
}

/* logo */

.logo {
  font-family: "Playfairdisplaybold";
  font-weight: 700;
  font-size: 34px;
  line-height: 36px;
  color: #ffffff;
}

.logo__link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s linear;
}

.logo__link:hover,
.logo__link:active,
.logo__link:focus {
  color: #e51d02;
  text-decoration: underline;
}

/* menu */

.menu {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

.menu__icon {
  z-index: 25;
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.menu__icon:before,
.menu__icon:after {
  content: "";
}

.menu__icon:before,
.menu__icon:after,
.menu__icon span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  transition: all 0.3s linear;
  background-color: #ffffff;
}

.menu__icon:before {
  top: 0;
}

.menu__icon:after {
  bottom: 0;
}

.menu__icon span {
  top: 50%;
  transform: scale(1) translate(0, -50%);
}

.menu__icon--active span {
  transform: scale(0) translate(0, -50%);
}

.menu__icon--active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.menu__icon--active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.menu__body {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #777777;
  transition: all 0.3s linear;
  overflow: auto;
}

.menu__body--active {
  top: 0;
}

.menu__body--active > .menu__list {
  padding-top: 10%;
}

.menu__body--active::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #777777;
  z-index: 2;
}

.menu__item {
  margin: 0;
}

.menu__link {
  display: block;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s linear;
  padding: 1.1rem;
}

.menu__link:hover,
.menu__link:active,
.menu__link:focus {
  color: #e51d02;
  text-decoration: underline;
}

.menu__login {
  margin: 50px 20px 10px 50px;
}

/* login */

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login__link {
  display: block;
  cursor: pointer;
  padding: 0 20px;
  position: relative;
}

.login__link:nth-child(2) {
  border-right: 1px solid #777777;
  border-left: 1px solid #777777;
}

.login__img {
  transition: all 0.3s linear;
}

.login__img:hover,
.login__img:active,
.login__img:focus {
  transform: scale(1.2);
}

.login__label {
  display: block;
  min-width: 36px;
  background-color: #e51d02;
  border: 1px solid #777777;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: -50%;
  right: 0;
  padding: 0 10px;
}

/* intro */

.intro {
  padding-top: 4.5rem;
  color: #777777;
  background-color: #111111;
  position: relative;
  max-height: 1200px;
}

.intro__title {
  display: block;
  padding: 0 10%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Playfair";
  font-weight: 700;
  font-size: 1.5rem;
  position: absolute;
  top: 25%;
  left: 0;
  z-index: 5;
}

.intro__slider {
  position: relative;
  font-size: 40px;
  text-align: center;
}

.intro__controls {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 80px;
  color: #ffffff;
  background-color: transparent;
  z-index: 5;
  border: 3px solid #ffffff;
  transform: rotate(45deg);
}

.intro__controls:hover,
.intro__controls:active,
.intro__controls:focus {
  transform: scale(1.2) rotate(45deg);
}

.intro__controls--prev {
  top: 50%;
  left: 10%;
  border-top: transparent;
  border-right: transparent;
}

.intro__controls--next {
  top: 50%;
  right: 10%;
  border-bottom: transparent;
  border-left: transparent;
}

.intro__slides {
  max-height: 1200px;
}

.intro__slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s linear;
}

.intro__slide--active {
  opacity: 1;
  z-index: 2;
}

.intro__slide > picture {
  max-height: 1200px;
}

.intro__img {
  width: 100%;
  max-height: 1200px;
  margin: 0 auto;
}

.intro__description {
  font-size: 80px;
  color: #777777;
  text-transform: uppercase;
  background-color: transparent;
}

.banner__container {
  margin-top: 2rem;
}

.banner__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.banner__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #111111;
  padding: 40px;
  margin: 30px 15px;
  min-width: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner__item--01 {
  background-image: url("../img/banner/banner__01.jpg");
}

.banner__item--02 {
  background-image: url("../img/banner/banner__02.jpg");
}

.banner__title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 30px;
}

.banner__text {
  margin-top: 20px;
}

.banner__button {
  margin-top: 30px;
}

/* features */

.features__container {
  margin: 30px auto 30px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
}

.features__item {
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  padding-top: 60px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 50px;
  text-align: center;
}

.features__item--returns {
  background-image: url("/img/features/features__item--returns.svg");
}

.features__item--shipping {
  background-image: url("/img/features/features__item--shipping.svg");
}

.features__item--shopping {
  background-image: url("/img/features/features__item--shopping.svg");
}

.features__item--support {
  background-image: url("/img/features/features__item--support.svg");
}

.features__subtitle {
  font-weight: 600;
  font-size: 20px;
}

.features__text {
  margin: 15px 0;
}

/* blogs */

.blogs__container {
  margin: 10px auto;
}

.blogs__list {
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.blogs__item {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.blogs__article {
  padding: 20px;
  text-align: center;
  max-width: 95vw;
}

.blogs__subtitle {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 20px;
}

.blogs__pubdate {
  font-weight: 500;
  font-size: 16px;
  color: #e51d02;
}

.blogs__text {
  margin: 20px 0;
  color: #777777;
}

.blogs__link {
  margin-top: 20px;
  text-transform: uppercase;
}

.blogs__link:hover {
  text-decoration: underline;
}

/* products */

.products__container {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.products__headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.products__title {
  margin: 10px 15px;
}

.products__list {
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.products__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 255px;
  margin: 15px;
}

.products__img {
  margin-bottom: 30px;
}

.products__subtitle {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.products__text {
  margin-bottom: 10px;
}

.products__price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.products__price--new {
  font-weight: 700;
}

.products__price--old {
  margin-left: 10px;
  color: #777777;
  text-decoration: line-through;
}

/* offer */

.offer {
  padding: 20px 0;
}

.offer__title {
  margin: 10px;
}

.offer__container {
  display: flex;
  align-items: center;
  width: 100vw;
  min-height: 300px;
  margin: 0 auto;
  position: relative;
}

.offer__video {
  width: 100vw;
  height: 300px;
  margin: 0 auto;
}

.offer__video-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/video/offer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer__video-button {
  width: 5.7143rem;
  height: 5.7143rem;
  background: #e51d02;
  border-radius: 50%;
  border: 0.2143rem solid #ffffff;
  z-index: 7;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.6);
  transition: all 0.5s linear;
}

.offer__video-button:hover,
.offer__video-button:active,
.offer__video-button:focus {
  background: #ffffff;
  border: 0.2143rem solid #e51d02;
}

.offer__video-button:hover::before,
.offer__video-button:active::before,
.offer__video-button:focus::before {
  border-left: 2.1429rem solid #e51d02;
}

.offer__video-button::before {
  content: "";
  width: 100%;
  height: auto;
  border-top: 1.0714rem solid transparent;
  border-left: 2.1429rem solid #111111;
  border-bottom: 1.0714rem solid transparent;
  z-index: 11;
  position: absolute;
  top: 30%;
  left: 35%;
  transition: all 0.5s linear;
}

.offer__video-button::after {
  content: "";
  width: 100%;
  height: auto;
  border-top: 1.5rem solid transparent;
  border-left: 2.6429rem solid #ffffff;
  border-bottom: 1.5rem solid transparent;
  z-index: 9;
  position: absolute;
  top: 23%;
  left: 32%;
}

.offer__video-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  margin: 20px;
  text-align: center;
  z-index: 7;
}

/* products */

.discount__container {
  margin: 80px auto;
}

.discount__title {
  margin-bottom: 25px;
}

.discount__list {
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.discount__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 255px;
  margin: 15px;
}

.discount__img {
  margin-bottom: 30px;
}

.discount__text {
  margin-bottom: 10px;
}

.discount__price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.discount__price--new {
  font-weight: 700;
}

.discount__price--old {
  margin-left: 10px;
  color: #777777;
  text-decoration: line-through;
}

/* partners */

.partners__container {
  padding-bottom: 50px;
}

.partners__title {
  margin: 20px;
}

.partners__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.partners__item {
  margin: 20px;
}

.partners__img {
  width: 100%;
  height: auto;
}

/* buttons */

.btn {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: #777777;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 0.5s linear;
}

.btn:hover,
.btn:focus,
.btn:active {
  transform: scale(1.1);
}

.btn--active {
  color: #111111;
  transform: scale(1.1);
  cursor: auto;
}

.btn--more {
  border: 1px solid #e51d02;
  transform: scale(0.9);
}

.btn--all {
  border: 1px solid #e51d02;
  transform: scale(0.9);
}

.btn--disabled {
  cursor: auto;
  color: #777777;
}

.btn--red {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  padding: 15px 30px;
  color: #ffffff;
  background-color: #e51d02;
}

/* footer */

.footer {
  color: #777777;
  background-color: #111111;
}

.footer__container {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__section {
  margin: 20px;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__text {
  line-height: 1.5px;
}

.footer__social-list {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__social-item {
  margin-right: 20px;
}

.footer__title {
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 40px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__item {
  margin: 15px 0;
}

.footer__item::before {
  content: " - ";
}

.footer__item--contacts::before {
  content: "";
}

.footer__item--contacts > .footer__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer__item--contacts > .footer__link > .footer__img,
.footer__item--contacts > .footer__link > picture {
  margin-right: 10px;
}

.footer__link {
  transition: all 0.5s linear;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__link > footer__img,
.footer__link > picture {
  transition: all 0.5s linear;
}

.footer__link > footer__img:hover,
.footer__link > picture:hover {
  transform: scale(1.2);
}

/* popup404 */

.popup404 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  transition: all 0.3s linear;
}

.popup404--active {
  opacity: 1;
  pointer-events: all;
  transition: all 0.3s linear;
}

.popup404__body {
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #ffffff;
  background: #777777;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
  padding: 25px;
  transition: all 0.3s linear;
}

.popup404__body--active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s linear;
}

.popup404__title {
  margin: 20px 0;
  border-bottom: 1px solid #ffffff;
}

.popup404__text {
  margin: 10px 0;
}

.popup404__close {
  display: block;
  width: 100px;
  max-width: 90%;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #777777;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.6);
}

.popup404__close:hover {
  transform: scale(0.9);
}

@media (min-width: 500px) {
  .intro__title {
    font-size: 3rem;
  }
}

@media (min-width: 576px) {
  .header__login {
    display: flex;
    z-index: 5;
    margin-left: auto;
  }

  .logo {
    font-size: 45px;
    line-height: 65px;
  }

  .menu__login {
    display: none;
  }

  .login__label {
    top: -25%;
    right: 5%;
    padding: 5px;
    min-width: 30px;
  }

  .banner__list {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .banner__item {
    align-items: flex-start;
  }

  .blogs__item {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .blogs__article {
    width: 50%;
    text-align: left;
  }

  .products__headers {
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .intro__title {
    font-size: 5rem;
  }

  .intro__controls {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1200px) {
  .partners__list {
    justify-content: space-around;
  }
}

@media (min-width: 1400px) {
  .banner__container {
    margin-top: 7.5rem;
  }

  .features__list {
    justify-content: space-between;
  }

  .footer__container {
    justify-content: space-around;
  }
}

@media (min-width: 1900px) {
  .header__menu {
    order: 0;
  }

  .header__login {
    margin-left: 0;
  }

  .menu__icon {
    display: none;
  }

  .menu__body {
    position: static;
    background-color: transparent;
  }

  .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .intro__title {
    font-size: 7rem;
  }
}

.webp .banner__item--01 { background-image: url(../img/banner/banner__01.webp); }

.webp .banner__item--02 { background-image: url(../img/banner/banner__02.webp); }

.webp .offer__video-poster { background-image: url(/img/video/offer.webp); }