/* buttons */

.btn {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: $first-color;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 0.5s linear;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
  }

  &--active {
    color: $dark-color;
    transform: scale(1.1);
    cursor: auto;
  }

  &--more {
    border: 1px solid $second-color;
    transform: scale(0.9);
  }

  &--all {
    border: 1px solid $second-color;
    transform: scale(0.9);
  }

  &--disabled {
    cursor: auto;
    color: $first-color;
  }

  &--red {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    padding: 15px 30px;
    color: $light-color;
    background-color: $second-color;
  }
}
