/* footer */

.footer {
  color: $first-color;
  background-color: $dark-color;

  &__container {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @media (min-width: 1400px) {
      justify-content: space-around;
    }
  }

  &__section {
    margin: 20px;

    &--main {
    }
    &--account {
    }
    &--extras {
    }
    &--contacts {
    }
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__text {
  }

  &__social-list {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__social-item {
    margin-right: 20px;
  }

  &__title {
    font-weight: 600;
    color: $light-color;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__item {
    margin: 15px 0;

    &::before {
      content: " - ";
    }

    &--contacts {
      &::before {
        content: "";
      }

      & > .footer__link {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      & > .footer__link > .footer__img,
      & > .footer__link > picture {
        margin-right: 10px;
      }
    }
  }

  &__link {
    transition: all 0.5s linear;

    &:hover {
      text-decoration: underline;
    }

    & > footer__img,
    & > picture {
      transition: all 0.5s linear;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
