/* partners */

.partners {
  &__container {
    padding: 50px 0;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media (min-width: 1200px) {
      justify-content: space-around;
    }
  }

  &__item {
    margin: 20px;
  }

  &__img {
    width: 100%;
    height: auto;
  }
}
